body{
    background: #1f1444;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-decoration: none;
    color: rgba(240, 240, 240, 0.76);
    font-weight: bold;
}

